{% extends "layout.html" %} {% block content %}
<main class="hero-section">
    <div class="container">

        <div class="section-content">
            <h2>Rechercher des places</h2>
            <a href="#" class="btn-primary">Devenir membre</a>
            <a href="{{ url_for('apropos') }}" class="btn-secondary">A propos</a>
        </div>

        <div class="section-device">
            <img src="static/img/map.png">
        </div>

        <div class="clearfix"></div>

    </div>
</main>
{% endblock %}