{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Se looger</h2>

      <form method="POST" action="/login">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.email.label }}
          {{ form.email }}
        </div>

        <div class="form-group">
          {{ form.mot_de_passe.label }}
          {{ form.mot_de_passe }}
        </div>

        {{ form.submit(class="btn-primary") }}

      </form>
    </div>
  </main>
{% endblock %}